
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" />
    <style>
        /* Full-width inputs */
        input[type=text], input[type=password] {
            width: 100%;
            padding: 12px 20px;
            margin: 8px 0;
            display: inline-block;
            border: 1px solid #ccc;
            box-sizing: border-box;
        }

        /* Set a style for all buttons */
        button {
            background-color: #4CAF50;
            color: white;
            padding: 14px 20px;
            margin: 8px 0;
            border: none;
            cursor: pointer;
            width: 100%;
        }

            /* Add a hover effect for buttons */
            button:hover {
                opacity: 0.8;
            }

        /* Extra style for the cancel button (red) */
        .cancelbtn {
            width: auto;
            padding: 10px 18px;
            background-color: #f44336;
        }

        /* Center the avatar image inside this container */
        .imgcontainer {
            text-align: center;
            margin: 24px 0 12px 0;
        }

        /* Avatar image */
        img.avatar {
            width: 10%;
            border-radius: 50%;
        }

        /* Add padding to containers */
        .container {
            width: 30%;
            padding: 16px;
        }

        /* The "Forgot password" text */
        span.psw {
            float: right;
            padding-top: 16px;
        }
    </style>
    <script src="~/Scripts/bootstrap.min.js"></script>
    <script src="~/Scripts/jquery-3.0.0.min.js"></script>
</head>
<body>
    <form action="/Home/Index" method="post">
        <div class="imgcontainer">
            <img src="../img/img_avatar2.png" alt="Avatar" class="avatar">
        </div>
        <div class="container">
            <label for="uname"><b>Kullanıcı Adı</b></label>
            <input type="text" placeholder="Kullanıcı Adı" name="uname" required>
            <label for="psw"><b>Şifre</b></label>
            <input type="password" placeholder="Şifre" name="psw" required>
            <button type="submit">Giriş</button>
        </div>
        <div class="container" style="background-color:#f1f1f1">
            <a href="../Home/Register"><button type="button" class="cancelbtn">Kayıt Ol</button></a>
            <span class="psw">Şifremi <a href="#">unuttum</a>?</span>
        </div>
    </form>
</body>
</html>
